ENVIRONMENT=dev
DEBUG=true
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost

# Used when ENVIRONMENT != dev
MYSQL_DATABASE=sms
MYSQL_USER=sms_user
MYSQL_PASSWORD=change-me
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306



# M-Pesa Integration Credentials
# Required for STK Push (Customer Payments)
MPESA_CONSUMER_KEY=mdNXF5APn5OGZ0rrAuIymdfjQrKVMEdN
MPESA_CONSUMER_SECRET=XmXC0WlJoVVa4inB
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_SHORTCODE=4161900

# Required for fetching transactions from Daraja API
MPESA_INITIATOR_NAME=kg
MPESA_INITIATOR_PASSWORD=your_initiator_password_here
MPESA_SECURITY_CREDENTIAL=your_security_credential_here


# Callback URLs
MPESA_CALLBACK_URL=https://arhythmically-unciliated-danna.ngrok-free.dev/accounts/mpesa/callback/
MPESA_RESULT_URL=https://arhythmically-unciliated-danna.ngrok-free.dev/accounts/mpesa/result/
MPESA_QUEUE_TIMEOUT_URL=https://arhythmically-unciliated-danna.ngrok-free.dev/accounts/mpesa/timeout/

# Environment: sandbox or production
MPESA_ENVIRONMENT=production

